.category {
  margin-top: 48px;
  padding-left: 77px;
}

.category-name {
  font: $fs24px;
  margin-bottom: 18px;
  font-family: $dm-sans;
}

.movie-category {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

@media (min-width: $min_mobile) and (max-width: $max_mobile) {
  .category-name,
  .movie-category {
    font-size: $fs18px;
  }
  .category {
    margin-top: 33px;
  }
}

@media (min-width: $min_tablet) and (max-width: $max_tablet) {
  .category {
    padding-left: 77px;
  }
}
