.navbar {
  padding: 40px 0 40px 77px;
  background-color: $nav-bg-color;
}

@media (min-width: $min_mobile) and (max-width: $max_mobile) {
  .navbar {
    //     height: 67px; From the figma design, this is not feasible
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 16px 0 16px 0px;
  }
}
