// Font-size
$header-font-size: 72px;
$header-font-size-mobile: 28px;

// Font-family
$dm-sans: "DM Sans", sans-serif;

// Font Size
$fs24px: 24px;
$fs18px: 18px;

// color
$white: #ffffff;
$black: #000000;
$nav-bg-color: #292929;

// Breakpoints
$mobile: 320px;
$ipad: 834px;
$min_mobile: 320px;
$max_mobile: 480px;
